* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #222629;
    --text-color: #474b4f;
    --main-color: #86c232;
    --white-color: #6b6e70;
    --shadow-color: #61892f;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
    margin-top: 0;
    max-width: 100px;
    height: 100px;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: 500;
    margin-right: 3.7rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky.navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#menu-icon {
    font-size: 2rem;
    display: none;
}

span {
    font-family: cursive;
    color: var(--main-color);
}


section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    cursor: default;
    align-items: center;
    justify-content: center;
    background: var(--bg-colo);
}

.home .home-content {
    max-width: 200vh;
    
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: .3;
    font-family: Lucida handwriting;
}

h3, p {
    margin-bottom: 20px;
}

.home-content h1 {
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: .3rem;
    font-family: Lucida handwriting;
    text-shadow: 2px 2px 5px var(--main-color);
}

.home-content p {
    font-size: 2rem;
}

.btn {
    font-size: 2.5rem;
    background: var(--main-color);
    align-items: center;
}

.btn:hover {
    background: var(--white-color);
}

.btn i {
    font-size: 2.5rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    cursor: default;
    background-color: var(--bg-color);
    overflow: hidden;
    flex-wrap: nowrap;
}

.about-img img {
    width: 400px;
    height: auto;
}

.about-content {
    align-items: center;
    justify-content: center;
    
}

.about-content h2 {
    text-align: left;
    justify-content: center;
    font-size: 2rem;
    display: flex;
    color: var(--white-color);
}

.about-content h3 {
    font-size: 1.5rem;
    color: var(--white-color);
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    padding-left: 10px;
    color: var(--white-color);
    padding: 10px;
    margin: 10px 0 10px 30;
    align-items: center;
}
 .about-content a {
    color: white;
 }

.causes {
    background: var(--bg-color);
    
}

.causes .causes-container {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;

}

.causes .causes-container .causes-box {
    margin: 0 30px;
    height: 400px;
    width: 300px;
}

.causes-box img {
    height: 300px;
    width: 100%;
}

.causes-box .causes-content {
    align-items: center;
    justify-content: center;
    display: block;
}

.causes-box .causes-content h2 {
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    margin: 20px auto;
    padding: 10px;
    background-color: var(--bg-color);
    border-radius: 5px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.loginForm {
    align-items: center;
    justify-content: center;
    margin-top: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background: var(--white-color);
}

button {
    padding: 10px 20px;
    background-color: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--shadow-color);
}

.recover {
    text-align: right;
    font-size: 1em;
    margin-bottom: 1em;
}

.recover a {
    text-decoration: none;
    color: var(--text-color);
}

.recover a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

#contributorLIst {
    list-style-type: none;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--white-color);
    cursor: default;
}

.footer-text .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.footer-text .social-media i:hover {
    color: var(--main-color);
}

.footer-text .social-media i {
    color: var(--bg-color);
    transition: .5s ease;
}

.footer-text h2 {
    align-items: center;
    font-size: 2.3rem;
}

.pages {
    display: flex;
    flex-direction: column;
}

.pages a {
    margin: 10x 50px 10px 0;
    padding: 15px;
    color: var(--bg-color);
    transition: .5s ease;
}

.pages a:hover {
    color: var(--main-color);
}

button {
    transition: .5s ease;
}

.dashboard {
    background: var(--bg-color);
}

.dashboard-info {
    margin: 5px;
    justify-content: center;
    position: relative;
    display: flex;
    right: 0;
    top: 0;
    padding: 2rem 7%;
}
.dashbooard-info p {
    background: var(--white-color);

}

.invite-section {
    margin-bottom: 20px;
    text-align: left;
}

.invite-section p {
    margin: 5px 0;
}

.invite-section input {
    width: 25rem;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    left: 2px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    right: 0;
}

table, th, td {
    border: 1px solid var(--white-color);
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background: var(--bg-colo);
}

@media (max-width: 1200px) {
    html {
        font-size: 65%;
    }
    .home .home-content {
        height: 80rem;
    }

}

@media (max-width: 1024px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }
}

@media(max-width: 991px) {
    .home .home-content {
        max-width: 50rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .about,
    .causes {
        padding-bottom: 6rem;
    }
    footer {
        padding: 2rem 3% ;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
}